/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.profile-image {
    width: 200px;
    height: auto;
    position: sticky;
    top: 0;
    border: 10px solid #f0f0f0;
    transition: transform 0.5s, border 0.5s;
    z-index: 1;
    min-width: 100px; /* 사진의 최소 크기 설정 */
}

h1 {
    color: #333;
}

.profile-description {
    margin-top: 20px;
}

.profile-actions {
    margin-top: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* 대화 스타일 */
.conversation {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: relative;
}

.message {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
    clear: both;
}

.user-message {
    float: right;
    background-color: #4caf50;
    color: #fff;
}

.time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

/* 이미지 고정 */
.profile-image.fixed {
    position: fixed;
    bottom: calc(100vh - 30px);
    transition: bottom 0.5s;
}

/* "대화하기" 글자 페이드 아웃 처리 */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

/* 채팅 입력창 위로 올라오도록 설정 */
.chat-input {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 2;
    float:right;
}

/* 상단 카운트 다운 스타일 */
.countdown {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #777;
}

/* 사이트 이름 스타일 */
.site-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #777;
}
